%div{:style=>""}
  %h1
    TIMESPACE
    
%div{:style=>"width:1000;"}

  %h2
    #{@description}
      
  %div{:style=>"float:left;"}
    %h3
      = @initial.strftime("%Y-%m-%d")
    %img{:src=>@initial_url}

    
  %div{:style=>"float:right;"}
    %h3
      = @next.strftime("%Y-%m-%d")
    %img{:src=>@next_url}
    
  %div{:style=>"clear:both;"}
  
%div
  Find me on <a href="http://github.com/terryg/timespace">Github</a>.
